includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Doctrine\DBAL\Types\ConversionException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#Throwable is never thrown in the corresponding try block#'
            path: %currentWorkingDirectory%/src/EmailAddressDoctrine/EmailAddressType.php
        -
            message: '#Throwable is never thrown in the corresponding try block#'
            path: %currentWorkingDirectory%/src/EmailAddressDoctrine/EmailAddressLowercaseType.php
