includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Doctrine\DBAL\Types\ConversionException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: "#^Parameter \\#1 \\$value \\(Nepada\\\\EmailAddress\\\\EmailAddress\\|string\\|null\\) of method Nepada\\\\EmailAddressDoctrine\\\\AbstractEmailAddressType\\:\\:convertToPHPValue\\(\\) should be contravariant with parameter \\$value \\(mixed\\) of method Doctrine\\\\DBAL\\\\Types\\\\Type\\:\\:convertToPHPValue\\(\\)$#"
            count: 1
            path: src/EmailAddressDoctrine/AbstractEmailAddressType.php
        -
            message: "#^Parameter \\#1 \\$value \\(Nepada\\\\EmailAddress\\\\EmailAddress\\|string\\|null\\) of method Nepada\\\\EmailAddressDoctrine\\\\AbstractEmailAddressType\\:\\:convertToDatabaseValue\\(\\) should be contravariant with parameter \\$value \\(mixed\\) of method Doctrine\\\\DBAL\\\\Types\\\\Type\\:\\:convertToDatabaseValue\\(\\)$#"
            count: 1
            path: src/EmailAddressDoctrine/AbstractEmailAddressType.php
        - # conditional type narrowing
            message: "#^Overwriting variable \\$value while changing its type from Nepada\\\\EmailAddress\\\\EmailAddress to string$#"
            count: 1
            path: src/EmailAddressDoctrine/AbstractEmailAddressType.php
