includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Doctrine\DBAL\Types\ConversionException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#Parameter \#1 \$value .* of method Nepada\\EmailAddressDoctrine\\EmailAddressType::convertToPHPValue\(\) should be contravariant with parameter \$value .* of method Doctrine\\DBAL\\Types\\Type::convertToPHPValue\(\)#'
            path: src/EmailAddressDoctrine/EmailAddressType.php
        -
            message: '#Parameter \#1 \$value .* of method Nepada\\EmailAddressDoctrine\\EmailAddressType::convertToDatabaseValue\(\) should be contravariant with parameter \$value .* of method Doctrine\\DBAL\\Types\\Type::convertToDatabaseValue\(\)#'
            path: src/EmailAddressDoctrine/EmailAddressType.php
        -
            message: '#Throwable is never thrown in the corresponding try block#'
            path: src/EmailAddressDoctrine/EmailAddressType.php
        -
            message: '#Throwable is never thrown in the corresponding try block#'
            path: src/EmailAddressDoctrine/EmailAddressLowercaseType.php
